body {
    background-color: #232323;
    margin: 0;
    font-family: 'Montserrat', 'Avenir';
}

h2 {
    text-align: center;
    font-weight: normal;
    color: white;
    background: steelblue;
    margin: 0;
    text-transform: uppercase;
    padding: 20px 10px;
    font-size: 80%;
}

#colorDisplay {
    font-size: 160%;
}

#message {
    display: inline-block;
    width: 50px;
    font-weight: 500;
}

.stripe {
    background: white;
    padding: 5px 10px;
    text-align: center;
    color: black;
    font-size: 60%;
}

.selected {
    color: white;
    background: steelblue;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}

button:hover {
    color: white;
    background: steelblue;
    cursor: pointer;
}

.circles-container {
    margin: 10px auto;
    /* padding: 10px; */
    display: grid;
    grid-template-columns: 100px 100px 100px;
    column-gap: 15px;
    row-gap: 15px;
}

.circle {
    background: rgb(231, 230, 230);
    height: 100px;
    border-radius: 50%;
    transition: background 0.8s;
    -webkit-transition: background 0.8s;
    -moz-transition: background 0.8s;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.tips-container {
    margin: 10px 0;
    border-radius: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
}

.tips-container .tips {
    color: steelblue;
    font-size: 80%;
}

.tips-container img {
    height: 140px;
}

@media only screen and (min-width: 600px) {
    h2 {
        padding: 20px 10px;
        font-size: 90%;
    }

    #colorDisplay {
        font-size: 180%;
    }

    #message {
        width: 70px;
    }

    .stripe {
        padding: 5px 10px;
        font-size: 80%;
    }

    .circle {
        height: 140px;
    }

    .circles-container {
        grid-template-columns: 140px 140px 140px;
        column-gap: 20px;
        row-gap: 20px;
    }

    .tips-container img {
        height: 160px;
    }

    .tips-container .tips {
        max-width: 300px;
    }
}

@media only screen and (min-width: 768px) {
    h2 {
        padding: 30px 10px;
        font-size: 100%;
    }

    #colorDisplay {
        font-size: 200%;
    }

    #message {
        width: 80px;
    }

    .stripe {
        font-size: 100%;
    }

    .tips-container img {
        height: 180px;
    }

    .tips-container .tips {
        max-width: 500px;
        font-size: 90%;
    }
}

@media only screen and (min-width: 1200px) {
    h2 {
        padding: 40px 10px;
        font-size: 150%;
    }

    #colorDisplay {
        font-size: 250%;
    }

    #message {
        width: 100px;
    }

    .circle {
        height: 160px;
    }

    .circles-container {
        margin: 30px auto;
        grid-template-columns: 160px 160px 160px;
        column-gap: 30px;
        row-gap: 30px;
    }

    .tips-container img {
        height: 220px;
    }

    .tips-container .tips {
        max-width: 500px;
        font-size: 100%;
    }
}